---
- name: Install Vsftpd
  apt:
      name: vsftpd
      state: present

- name: Copy config file 
  copy:
      src: templates/vsftpdconfig.j2
      dest: /etc/ansible.conf

- name: Service start  
  sysctl:
      name: vsftpd
      state: present
      

